.section-adjusted {
  width: 25vw;
  height: 50vw;

  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.01);
  }
}

.overlay-locked {
  inset: 0;
  backdrop-filter: blur(4px);
  pointer-events: all;
}

.text-truncate-3 {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
