<main class="container-fluid">
  <header class="d-flex"><h1>Anime movies DB</h1></header>
  <section class="d-flex flex-row flex-wrap overflow-auto gap-4 py-3">
    @for (movie of movies; track movie.id) {
    <div class="text-center section-adjusted" role="button" (click)="goToMovie(movie.id)">
      <img
        class="img-poster"
        [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
        alt="{{ movie.title }}"
      />
      <h3 class="fs-5 mt-2">{{ movie.title }}</h3>
      <p class="fw-bold m-0">{{ movie.vote_average }}</p>
    </div>
    }
  </section>
</main>
