@if (movie()) {
<section class="container-fluid py-4">
  <header class="d-flex flex-row align-items-center justify-content-between my-1">
    <h1 class="header-title ms-4">The Anime Movies DB</h1>
    <button
      class="btn btn-outline-light me-4"
      (click)="goToMenu()"
      aria-label="Button to go back to menu"
    >
      Back to menu
    </button>
  </header>

  <hr class="w-100 border-top border-3 border-secondary opacity-25 mx-auto mb-5" />

  <div class="d-flex flex-row align-items-center justify-content-center mx-2 gap-4">
    <img
      class="img-poster"
      [src]="
        movie().poster_path === null
          ? 'https://m.media-amazon.com/images/I/21cOE-lrhBL._AC_UF1000,1000_QL80_.jpg'
          : 'https://image.tmdb.org/t/p/w500' + movie().poster_path
      "
      alt="{{ movie().title }}"
    />

    <div class="text-white">
      <h1 class="fw-bold">{{ movie().title }}</h1>
      <p class="opacity-75 mb-1"><strong>Premiere:</strong> {{ movie().release_date }}</p>
      <p class="opacity-75 mb-3">
        <strong>Genre:</strong>
        @for (g of movie().genres; track g.id) {
        <span class="badge bg-secondary me-1">{{ g.name }}</span>
        }
      </p>

      <div class="d-flex flex-row align-items-center gap-4 mb-4">
        <div>
          <h4 class="m-0">&#x2B50; {{ movie().vote_average.toFixed(2) }}</h4>
          <small class="opacity-75">Criticts</small>
        </div>
      </div>

      <hr class="border-secondary" />

      <h3 class="fw-bold mt-3">Review</h3>
      <p class="opacity-75">{{ movie().overview }}</p>

      @if (directors().length > 0 || writers().length > 0) {
      <div class="mt-4">
        <h4 class="fw-bold">Creators</h4>
        @if (directors().length > 0) { @for (d of directors(); track d.id) {
        <p class="m-0"><strong>Director:</strong> {{ d.name }}</p>
        } } @if (writers().length > 0) { @for (w of writers(); track w.id) {
        <p class="m-0">
          <strong>{{ w.job }}:</strong> {{ w.name }}
        </p>
        } }
      </div>
      }
    </div>
  </div>

  <div class="mt-5 text-white">
    <h2 class="fw-bold mb-4">Cast</h2>

    <div class="actors-grid d-grid gap-3 justify-items-center">
      @for (actor of cast(); track actor.id) {
      <div class="bg-dark rounded-4 shadow-sm text-center p-4">
        <img
          class="img-actor"
          [src]="
            actor.profile_path
              ? 'https://image.tmdb.org/t/p/w300' + actor.profile_path
              : 'https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg'
          "
          alt="{{ actor.name }}"
        />
        <p class="fw-bold mt-2 mb-1">{{ actor.name }}</p>
        <p class="opacity-75 my-2">{{ actor.character }}</p>
      </div>
      }
    </div>
  </div>
</section>
}
