html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url('https://images.steamusercontent.com/ugc/2547430415513542239/BEDC529F36CFA2A60E32BFDCF019C65C2CD979E2/');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
  filter: blur(8px);
  z-index: -2;
}

body::after {
  content: '';
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: -1;
}

.img-poster {
  width: 360px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.section-adjusted {
  width: 360px;

  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.01);
  }
}
